{% extends 'portfolio/base.html' %}
{% load static %}
{% block content%}
<!--header section-->
<div class="hero">
    <img src="{% static 'images/scooter.jpg' %}">
    <section class="centered-overlay">
        <h1>Seth Mcfeeters</h1>
        <h2>Software Developer</h2>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </section>
</div>

<!--Pojects section-->
<h1 class="center">What I've Built</h1>
<div class="container">
    {% for project in projects %}
        {% if forloop.counter|divisibleby:2 == 0 %}
            <div class="row project-item">
                <div class="col-md">
                    <img class="img-fluid" src="{{project.screenshot.url}}">
                </div>
                <div class="col-md">
                    <h1 class="center">{{project.name}}</h1>
                    <h4>{{project.short_description}}</h4>
                    <h5>Built with: {{project.language}}</h5>
                    <div class="center-box">
                        <a class="btn btn-outline-secondary" href="{% url 'detail' project.pk %}">details</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row project-item">
                <div class="col-md">
                    <h1 class="center">{{project.name}}</h1>
                    <h4>{{project.short_description}}</h4>
                    <h5>Built with: {{project.language}}</h5>
                    <div class="center-box">
                        <a class="btn btn btn-outline-secondary" href="{% url 'detail' project.pk %}">details</a>
                    </div> 
                </div>
                <div class="col-md">
                    <img class="img-fluid" src="{{project.screenshot.url}}">
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<!--about me section-->
<div class="container">
    <div class="row">
        <div class="col-md">
            <img class="img-fluid" src="{% static 'images/me.jpeg' %}">
        </div>
        <div class="col-md">
            <h1 class="center">About Me</h1>
            <p>this is some text text that is blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah  blah blah blah blah blah blah blah blah blah</p>
        </div>
    </div>
</div>

<!--footer section-->
<div class="container">
    <div class="row">
        <div class="list container col-sm">
            <p class="center social"><a href="https://www.linkedin.com/in/seth-mcfeeters/" class="fa fa-linkedin"></a></p>
            <p class="center social"><a href="https://www.youtube.com/channel/UCP_QafQiqE7slKe7dbmA68w" class="fa fa-youtube"></a></p>
            <p class="center social"><a href="https://github.com/iggy18" class="fa fa-github"></a></p>
            <p class="center social"><a href="https://www.instagram.com/iggy18/" class="fa fa-instagram"></a></p>
        </div>
        <div class="container col-sm">
            <p class="center">contact info:</p>
            <p class="center">email: <a href = "mailto: opportunity.sethmcfeeters@gmail.com">opportunity.sethmcfeeters@gmail.com</p></a>
            <p class="center">phone: 1(662)321-1436</p>
            <p class="center">location: Seattle, Washington</p>
        </div>
        <div class="container col-sm">
            <p class="center">email:</p>
            <p class="center">email:</p>
            <p class="center">email:</p>
            <p class="center">email:</p>
            <p class="center">email:</p>
        </div>
    </div>
</div>
{% endblock %}