/*

--dark-olive-green: #606c38ff;
--kombu-green: #283618ff;
--cornsilk: #fefae0ff;
--fawn: #dda15eff;
--liver-dogs: #bc6c25ff; 

*/

.light-text {
    color: #fefae0ff
}

.mid-text {
    color: #606c38ff;
}

.dark-text {
    color: #283618ff;
}

.base{
    background-color: #dda15eff;
}

.me{
    background-color: #bc6c25ff; 
}

.foot{
    background-color: #606c38ff;
}

.project-item {
    background-color: #283618ff;
    border: 4px solid #fefae0ff;
}
