
/*
font-family: 'Abril Fatface', cursive;
font-family: 'Lobster', cursive;
font-family: 'Orelega One', cursive;
font-family: 'Amatic SC', cursive;
*/
@keyframes JustFadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes bounce{
	0%, 20%, 50%, 80%, 100% {
    transform:translateY(0);
	}
	40% {
    transform:translateY(-30px);
	}
	60% {
    transform:translateY(-15px);
	}
}

.fadeinandbounce{
	animation:
		JustFadeIn 2s ease-in 3s both, 
		bounce 2s infinite;
}


.abril{
    font-family: 'Abril Fatface', cursive;
}

.lobster{
    font-family: 'Lobster', cursive;
}

.orelega{
    font-family: 'Orelega One', cursive;
}

.amatic{
    font-family: 'Amatic SC', cursive;
}

.top{
    align-self: flex-start;
}

.project-head {
    font-size: 8vw;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.project-item{
    padding: 25px;
    border-radius: 10px;
    box-shadow: 19px 16px 30px 0px rgba(0,0,0,0.62);
    -webkit-box-shadow: 19px 16px 30px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 19px 16px 30px 0px rgba(0,0,0,0.62);
}

.hero-title{
    font-size: 8vw;
    animation: JustFadeIn 1s ease-in .5s both;
}

.hero-sub{
    font-size: 4vw;
    animation: JustFadeIn 2s ease-in 1s both;
}

.t-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.chevron {
    font-size: 2vw;
}

.group{
    margin-top: 100px;
}

.me{
    min-height: 65vh;
    padding: 2vw;
}

.me-text{
    font-size: 1.1vw;
}

.me-title{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    font-size: 4vw;
}

.foot{
    padding-top: 2vw;
    min-height: 35vh;
    width: 100%;
}

.grow {
    flex-grow: 1;
}

.large-icon {
    font-size: 1.5vw;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
}

.fa-user, .fa-search {
    width: 100%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.detail-box{
    width: 100%;
    margin: 15px;
}

.bigly{
    font-size: 6vw;
}

.detail-box{
    border-radius: 12px;
    padding: 10px;
    box-shadow: 19px 16px 30px 0px rgba(0,0,0,0.62);
    -webkit-box-shadow: 19px 16px 30px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 19px 16px 30px 0px rgba(0,0,0,0.62);
}

.description-box{
    margin: 2vw;
    border-radius: 12px;
    padding: 3vw;
}

.visit{
    border-radius: 12px;
    box-shadow: 19px 16px 30px 0px rgba(0,0,0,0.62);
    -webkit-box-shadow: 19px 16px 30px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 19px 16px 30px 0px rgba(0,0,0,0.62);
}

.another{
    margin-bottom: 20px;
}

.responsive-wrapper{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin: 15px;
}

.responsive-wrapper iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}


@media (max-width:768px){
    .flip{
        flex-direction: column-reverse;
    }
    .group{
        margin: 0;
    }

    .foot-row{
        flex-direction: column;
    }

    .me-title{
        font-size: 5vw;
    }

    .me-text{
        font-size: 3.2vw;
    }

    .line{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .line p{
        font-size: 5vw;
    }
    .fa{
        padding: 10px 23px 10px 23px;
    }

    .fa-youtube::before{
        position: relative;
        margin-left: -2vw;
    }

    .fa-github::before{
        position: relative;
        margin-left: -2vw;
    }

    .fa-linkedin::before{
        position: relative;
        margin-left: -2vw;
    }

    .fa-instagram::before{
        position: relative;
        margin-left: -2vw;
    }

    .visit-buttons{
        min-height: 12vh;
        display: flex;
        flex-direction: row;
    }

    .mobile-hide{
        display: none;
    }

    .mobile-row{
        flex-wrap: nowrap !important;
        width: 51% !important;
    }

    .large-icon{
        font-size: 4vw;
    }

    .back{
        font-size: 2vw;
    }
}
